<ion-header [translucent]="true">
  <ion-toolbar color="rosa">
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card color="light">
      <img src="https://static.wixstatic.com/media/371a13_c5dc7811df0a432a9b16e2c9a32c21d9~mv2.png/v1/fill/w_420,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/371a13_c5dc7811df0a432a9b16e2c9a32c21d9~mv2.png" alt="">
      <ion-item color ="dark">

        <ion-label class="titulo-promocao"></ion-label>

      </ion-item>
        Card de título
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="light">
        Categoria 1
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="light">
        Categoria 2
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
